In [1]:
print("Hello")

Hello

In [12]:
print("Hi")
print("Hey")
print("hello")

Hi
Hey
hello

In [20]:
print("It's a beautiful house")

It's a beautiful house

In [22]:
print("hello")

hello

In [23]:
print(76)
print(84)
print(66)

76
84
66

In [25]:
print(76)
84
66

76

66

In [26]:
76
84
66

66

In [27]:
124

124

In [28]:
print("Hi")
print("Hey")
print("hello")

Hi
Hey
hello

In [29]:
print("Hi")
print("Hey")
"hello"

Hi
Hey

'hello'

In [30]:
print("Hi")
print("Hey")
print("hello")

Hi
Hey
hello

In [43]:
print("Hi",end="")  #This is a comment, this will not be executed
# print("Hey",end="-")
print("hello")

Hihello

In [41]:
print("Hi","Hey","hello",sep="_and_")

Hi_and_Hey_and_hello

In [44]:
# Variables

In [55]:
a=12

In [56]:
print(a)

12

In [54]:
a

15

In [48]:
# Rules for Python variables:

# A variable name must start with a letter or the underscore character
# A variable name cannot start with a number
# A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
# Variable names are case-sensitive (age, Age and AGE are three different variables)

In [57]:
a=15

In [58]:
a

15

In [82]:
a1=8            #int
a2=-12          #int
a3=9.8          #float
a4=-2.7         #float
a5="H"          #str
a6="Hello"      #str
a7="Hi, I am learning Python! It is interesting."   #str
a8="8"          #str
a9=True         #bool
a10=False       #bool
a11=3+5j        #complex
a12=int(a8)        #int

In [77]:
type(a11)

complex

In [79]:
a8

'8'

In [80]:
int(a8)

8

In [84]:
# Typecasting
type(a12)

int

In [87]:
int("8a")

ValueError: invalid literal for int() with base 10: '8a'

In [89]:
str("abc")

'abc'

In [91]:
# Operators
# Arithmetic Operators
# Comparison Operators
# Logical Operators

In [99]:
num1 = 14
num2 = 4
sum=num1+num2
sum

18

In [104]:
print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)
print(num1//num2)
print(num1%num2)
print(num2**2)

18
10
56
3.5
3
2
16

In [106]:
num1,num2

(14, 4)

In [111]:
print(num1>num2)
print(num1<num2)
print(num1>=num2)
print(num1<=num2)
print(num1==num2)
print(num1!=num2)

True
False
True
False
False
True

In [125]:
num1=15
num2=4
sum=num1+num2
print("The first number is",num1)
print("The seond number is",num2)
print("The sum of",num1,"and",num2,"is",sum)

The first number is 15
The seond number is 4
The sum of 15 and 4 is 19

In [131]:
city="Bangalore"
rank=5

In [132]:
print(city,"is ranked number",rank,"in terms of population in India")

Bangalore is ranked number 5 in terms of population in India

In [134]:
print("{} is ranked number {} in terms of population in India".format(city,rank))

Bangalore is ranked number 5 in terms of population in India

In [135]:
print(f"{city} is ranked number {rank} in terms of population in India")

Bangalore is ranked number 5 in terms of population in India

In [137]:
print(city+" is ranked number "+str(rank)+" in terms of population in India")

Bangalore is ranked number 5 in terms of population in India

In [139]:
"abc"+"a"  #string concatenation

'abca'

In [142]:
# Input Function

In [153]:
num1=int(input("Enter the first number"))
num2=int(input("Enter the second number"))
sum=num1+num2
print("The first number is",num1)
print("The seond number is",num2)
print("The sum of",num1,"and",num2,"is",sum)

The first number is 9
The seond number is 8
The sum of 9 and 8 is 17

In [149]:
type(num1)

str

In [154]:
a=5.7983532

In [160]:
round(a,4)

5.7984

In [161]:
# conditional statements
# if
# else
# elif

In [162]:
# Apply grades for students based on  marks specified
# marks are in range of 0 to 100.
# 90 and above: Outstanding
# 70 to 89: Exceeds Expectations
# 40 to 69: Met Expectations
# Below 40: Needs Improvement

In [196]:
marks=int(input("Enter the marks scored: "))

if(marks>100):
    print("Invalid marks. Please re-run and enter the correct marks.")
elif(marks>=90):
    print("Outstanding")
    print("Excellent")
elif(marks>=70):
    print("Exceeds Expectations")
elif(marks>=40):
    print("Met Expectations")
elif(marks>=0):
    print("Needs Improvement")
else:
    print("Invalid marks. Please re-run and enter the correct marks.")

Outstanding
Excellent

In [197]:
# Indentation
# IndentationError: unexpected indent
# IndentationError: expected an indented block after 'if' statement
# IndentationError: unindent does not match any outer indentation level
# SyntaxError: invalid syntax

In [198]:
# if
# if else
# if elif
# if elif else

# else will not have any condition

In [200]:
# Task
# Simple program to predict whether we can go outside and play, depending on weather conditions

# if sunny, it is safe to go out and play. Drink lots of water
# if windy, it is ok to go out and play. make sure you wear jacket
# if rainy, do not go out and play. you may fall sick

In [207]:
weather=input("Enter the weather condition:(Sunny, Windy or Rainy): ")
weather=weather.lower()
if weather=="sunny":
    print("It is safe to go out and play")
    print("Drink lots of water")
elif weather=="windy":
    print("It is ok to go out and play.")
    print("Make sure you wear jacket")
elif weather=="rainy":
    print("Do not go out and play.")
    print("You may fall sick")
else:
    print("Invalid weather status, please enter the correct value")

It is safe to go out and play
Drink lots of water

In [204]:
a="Sunny"

In [205]:
type(a)

str

In [206]:
a.lower()

'sunny'

In [208]:
# Task
# Write a program to find the largest among 3 numbers
# Nested Conditional Statements

In [214]:
num1=int(input("Enter the first number: "))
num2=int(input("Enter the second number: "))
num3=int(input("Enter the third number: "))

if (num1>num2 and num1>num3):
    print(num1,"is largest among",num1,num2,num3)
elif(num2>num3 and num2>num1):
    print(num2,"is largest among",num1,num2,num3)
else:
    print(num3,"is largest among",num1,num2,num3)

4 is largest amoung 3 2 4

In [221]:
num1=int(input("Enter the first number: "))
num2=int(input("Enter the second number: "))
num3=int(input("Enter the third number: "))

print("The first number is",num1)
print("The second number is",num2)
print("The third number is",num3,"\n")

if(num1==num2==num3):
    print("All 3 numbers are equal")
elif(num1==num2):
    if(num1>num3):
        print("The first and second numbers are equal and the largest")
    else:
        print("The first and second numbers are equal, but the third number is the largest")
elif(num2==num3):
    if(num2>num1):
        print("The second and third numbers are equal and the largest")
    else:
        print("The second and third numbers are equal, but the first number is the largest")
elif(num3==num1):
    if(num3>num2):
        print("The first and third numbers are equal and the largest")
    else:
        print("The first and third numbers are equal, but the second number is the largest")
else:
    print("All three numbers are unequal\n")
    if(num1>num2):
        if(num1>num3):
            print("The first number is the largest")
        else:
            print("The third number is the largest")
    else:
        if(num2>num3):
            print("The second number is the largest")
        else:
            print("The third number is the largest")

The first number is 3
The second number is 3
The third number is 6

The first two numbers are equal, but the third number is the largest

In [222]:
# Strings

In [223]:
s1="I am learning Python. It is not very complicated!"

In [224]:
type(s1)

str

In [225]:
len(s1)   #() is for function call

49

In [233]:
s1[-3]      #[] is used for referencing Index

'e'

In [234]:
s1[0:5]     #str[m:n], m is inclusive, n is exclusive

'I am '

In [235]:
s1[25:34]

'is not ve'

In [236]:
s1[:5]

'I am '

In [237]:
s1[39:]

'mplicated!'

In [242]:
s1.capitalize()  #Return a capitalized version of the string.

'I am learning python. it is not very complicated!'

In [245]:
s2=s1.lower()
s2

'i am learning python. it is not very complicated!'

In [246]:
s1.upper()

'I AM LEARNING PYTHON. IT IS NOT VERY COMPLICATED!'

In [247]:
s1.title()

'I Am Learning Python. It Is Not Very Complicated!'

In [248]:
s1.swapcase()

'i AM LEARNING pYTHON. iT IS NOT VERY COMPLICATED!'

In [250]:
s1

'I am learning Python. It is not very complicated!'

In [253]:
movie="Dumb and Dumber!"

In [255]:
movie.count("Dumb")

2

In [259]:
movie.find("mb")

2

In [252]:
s1.count("er")

1

In [263]:
s3="       Python    programming        "

In [264]:
s3

'       Python    programming        '

In [268]:
s3.strip()

'Python    programming'

In [269]:
s4="xxxxxxxxxxxPython    programmingxxxxxxxxxxxxxxxx"

In [270]:
s4.strip('x')

'Python    programming'

In [272]:
s1.strip()

'I am learning Python. It is not very complicated!'

In [273]:
s1.replace("Python","Java")

'I am learning Java. It is not very complicated!'

In [276]:
s1.replace("a","e")

'I em leerning Python. It is not very compliceted!'

In [277]:
s1.replace(".","")

'I am learning Python It is not very complicated!'

In [278]:
s1.replace(s1[-1],"")

'I am learning Python. It is not very complicated'

In [281]:
s1[:-1]

'I am learning Python. It is not very complicated'

In [283]:
s1.split()

['I', 'am', 'learning', 'Python.', 'It', 'is', 'not', 'very', 'complicated!']

In [291]:
s1.split(maxsplit=3)

['I', 'am', 'learning', 'Python. It is not very complicated!']

In [290]:
s1.split("e")

['I am l', 'arning Python. It is not v', 'ry complicat', 'd!']

In [294]:
a1=s1.split()
a1

['I', 'am', 'learning', 'Python.', 'It', 'is', 'not', 'very', 'complicated!']

In [295]:
type(a1)

list

In [296]:
" ".join(a1)

'I am learning Python. It is not very complicated!'

In [297]:
"".join(a1)

'IamlearningPython.Itisnotverycomplicated!'

In [298]:
"-".join(a1)

'I-am-learning-Python.-It-is-not-very-complicated!'

In [299]:
" ".join(s1.split())

'I am learning Python. It is not very complicated!'

In [300]:
email="myname@gmail.com"

In [301]:
email.split("@")

['myname', 'gmail.com']

In [303]:
email.partition("@")

('myname', '@', 'gmail.com')

In [308]:
# String Methods
# lower()               *
# upper()
# capitalize()
# title()
# swapcase()
# strip()               *
# count()
# find()
# partition()
# replace()             *
# split()               *
# join()                *

In [310]:
s1.center(100)

'                         I am learning Python. It is not very complicated!                          '

In [314]:
s1.center(100,"*")

'*************************I am learning Python. It is not very complicated!**************************'

In [316]:
# Loops
# for
# while

In [318]:
marks=93
if(marks>90):
    print("outstanding")

outstanding

In [322]:
i=0              #Initialization or starting point
while(i<5):         #Condition or ending point
    print(i)
    i=i+1               #increment/decrement or step

0
1
2
3
4

In [356]:
for i in range(0,5,1):
    print(i)

0
1
2
3
4

In [353]:
list(range(0,5,1))

[0, 1, 2, 3, 4]

In [354]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [355]:
list(range(5))

[0, 1, 2, 3, 4]

In [326]:
i=0              #Initialization or starting point
while(i<5):         #Condition or ending point
    print(i)
    i=i+1               #increment/decrement or step
print("End of the loop")

0
1
2
3
4
End of the loop

In [357]:
for i in range(0,5,1):
    print(i)
print("End of the loop")

0
1
2
3
4
End of the loop

In [336]:
i=12              #Initialization or starting point
while(i<49):         #Condition or ending point
    print(i)
    i=i+7               #increment/decrement or step
print("End of the loop")

12
19
26
33
40
47
End of the loop

In [358]:
for i in range(12,49,7):
    print(i)
print("End of the loop")

12
19
26
33
40
47
End of the loop

In [337]:
abcd=64
while(abcd>0):
    print(abcd)
    abcd=abcd-13

64
51
38
25
12

In [359]:
for abcd in range(64,0,-13):
    print(abcd)

64
51
38
25
12

In [338]:
x=1
while(x<10000):
    print(x)
    x=x*2

1
2
4
8
16
32
64
128
256
512
1024
2048
4096
8192

In [342]:
# Write a python program to get Fibonacci Series between 0 and 50

In [344]:
i,n=0,1
print(i)
while n<50:
    print(n)
    i,n=n,i+n

0
1
1
2
3
5
8
13
21
34

In [345]:
# Write a program to print values from 1 to 50.
# If the value is multiple of 3, instead of the value, print "Hurray"
# If the value is multiple of 5, instead of the value, print "Yo"
# If the value is multiple of both 5 and 3, print "YoHurray!"

In [ ]:
1
2
Hurray
4

In [350]:
i=1
while(i<51):
    if(i%3==0 and i%5==0):
        print("YoHurray")
    else:
        if(i%5==0):
            print("Yo")
        elif(i%3==0):
            print("Hurray")
        else:
            print(i)
    i=i+1

1
2
Hurray
4
Yo
Hurray
7
8
Hurray
Yo
11
Hurray
13
14
YoHurray
16
17
Hurray
19
Yo
Hurray
22
23
Hurray
Yo
26
Hurray
28
29
YoHurray
31
32
Hurray
34
Yo
Hurray
37
38
Hurray
Yo
41
Hurray
43
44
YoHurray
46
47
Hurray
49
Yo

In [360]:
a1

['I', 'am', 'learning', 'Python.', 'It', 'is', 'not', 'very', 'complicated!']

In [361]:
for i in a1:
    print(i)

I
am
learning
Python.
It
is
not
very
complicated!

In [362]:
for i in ['I', 'am', 'learning', 'Python.', 'It', 'is', 'not', 'very', 'complicated!']:
    print(i)

I
am
learning
Python.
It
is
not
very
complicated!

In [363]:
s7="Hello there!"

In [364]:
for i in s7:
    print(i)

H
e
l
l
o

t
h
e
r
e
!

In [365]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [366]:
sum=0
for i in range(11):
    sum=sum+i
sum

55

In [379]:
sum=0
for i in range(11):
    sum=sum+i
    print("The number is",i,end=" and ")
    print(f"the sum so far is {sum}.")

The number is 0 and the sum so far is 0.
The number is 1 and the sum so far is 1.
The number is 2 and the sum so far is 3.
The number is 3 and the sum so far is 6.
The number is 4 and the sum so far is 10.
The number is 5 and the sum so far is 15.
The number is 6 and the sum so far is 21.
The number is 7 and the sum so far is 28.
The number is 8 and the sum so far is 36.
The number is 9 and the sum so far is 45.
The number is 10 and the sum so far is 55.

In [ ]:
# Write a program to print the below pattern
# (1)
# *
# * *
# * * *
# * * * *
# * * * * *

# 1 2 3 4 5
# 1 2 3 4
# 1 2 3
# 1 2


# 1
# 1 2
# 1 2 3
# 1 2 3 4
# 1 2 3 4 5


# (2)
# *****
# ****
# ***
# **
# *

In [4]:
n=int(input("Enter the number: "))
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [8]:
n=int(input("Enter the number: "))
for i in range(n):
    for j in range(n-i):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [15]:
for i in range(5):
    for j in range(5):
        if(i==4):
            print(" ",end=" ")
        elif(i<(5-j)):
            print(j+1,end=" ")
        else:
            print(" ",end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2

In [12]:
n=int(input("Enter the number: "))
for i in range(n):
    for j in range(1,n+1-i):
        print(j,end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [17]:
n=int(input("Enter the number: "))
for i in range(n):
    for j in range(i+1):
        print(j+1,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [19]:
# Collection data types
# Tuple             ()
# List              []
# Set               {}
# Dictionary        {}          every element is a combination of key and value

In [20]:
tup1=(3,6,2,8,4,6,9)

In [21]:
type(tup1)

tuple

In [22]:
tup1

(3, 6, 2, 8, 4, 6, 9)

In [23]:
len(tup1)

7

In [24]:
tup1[0]

3

In [25]:
tup1[2:4]

(2, 8)

In [26]:
# Tuples are immutable, they cannot be modified

In [29]:
tup1

(3, 6, 2, 8, 4, 6, 9)

In [28]:
tup1[3]

8

In [30]:
tup1[3]=12

TypeError: 'tuple' object does not support item assignment

In [31]:
list1=[3,6,2,8,4,6,9]

In [32]:
list1

[3, 6, 2, 8, 4, 6, 9]

In [33]:
type(list1)

list

In [34]:
len(list1)

7

In [37]:
list1[-1]

9

In [43]:
list1[3:7]

[8, 4, 6, 9]

In [44]:
list1[3]

8

In [45]:
list1[3]=12

In [46]:
list1

[3, 6, 2, 12, 4, 6, 9]

In [47]:
# Lists are mutable. They can be modified

In [48]:
list1.count(6)

2

In [49]:
list1.index(6)

1

In [50]:
list1.remove(6)

In [51]:
list1

[3, 2, 12, 4, 6, 9]

In [53]:
list1.pop(3)

4

In [54]:
list1

[3, 2, 12, 6, 9]

In [55]:
list1.insert(2,13)

In [56]:
list1

[3, 2, 13, 12, 6, 9]

In [57]:
list1.append(5)

In [58]:
list1

[3, 2, 13, 12, 6, 9, 5]

In [59]:
list2=[6,2,9,4]

In [60]:
list1.extend(list2)

In [61]:
list1

[3, 2, 13, 12, 6, 9, 5, 6, 2, 9, 4]

In [64]:
list1.insert(-2,14)
list1

[14, 3, 2, 13, 12, 6, 9, 5, 6, 2, 9, 14, 14, 4]

In [65]:
list1.insert(-1,0)
list1

[14, 3, 2, 13, 12, 6, 9, 5, 6, 2, 9, 14, 14, 0, 4]

In [66]:
list1.reverse()

In [67]:
list1

[4, 0, 14, 14, 9, 2, 6, 5, 9, 6, 12, 13, 2, 3, 14]

In [68]:
list1.sort()

In [72]:
list1

[0, 2, 2, 3, 4, 5, 6, 6, 9, 9, 12, 13, 14, 14, 14]

In [75]:
list1.sort(reverse=True)

In [76]:
list1

[14, 14, 14, 13, 12, 9, 9, 6, 6, 5, 4, 3, 2, 2, 0]

In [77]:
list3=list1.copy()
list3

[14, 14, 14, 13, 12, 9, 9, 6, 6, 5, 4, 3, 2, 2, 0]

In [78]:
list1.clear()

In [79]:
list1

[]

In [80]:
# Use case
# Top 10 most sold cars in India(Full model Name)
# Manually create a list of it

In [82]:
cars=['Maruti Suzuki Swift','Toyota Innova Crista','Maruti Suzuki Wagon R','Tata Punch EV Plus',
      'Mercedes Benz S Class','Mercedes Benz E Class','Mercedes Benz G Class','Toyota Innova Deluxe']

In [83]:
x1='Maruti Suzuki Swift'

In [85]:
y1=x1.split()
y1

['Maruti', 'Suzuki', 'Swift']

In [87]:
y1[0:2]

['Maruti', 'Suzuki']

In [89]:
" ".join(x1.split()[0:2])

'Maruti Suzuki'

In [92]:
updated_cars=[]
for i in cars:
    updated_cars.append(" ".join(i.split()[0:2]))
updated_cars

['Maruti Suzuki',
 'Toyota Innova',
 'Maruti Suzuki',
 'Tata Punch',
 'Mercedes Benz',
 'Mercedes Benz',
 'Mercedes Benz',
 'Toyota Innova']

In [93]:
cars

['Maruti Suzuki Swift',
 'Toyota Innova Crista',
 'Maruti Suzuki Wagon R',
 'Tata Punch EV Plus',
 'Mercedes Benz S Class',
 'Mercedes Benz E Class',
 'Mercedes Benz G Class',
 'Toyota Innova Deluxe']

In [ ]:
# get the values of first 2 words only.
# if it is mercedes, only the letter and the class indicating the Class eg: 
# if Mercedes Benz S Class, then it should be S Class
# If it from Toyota Company, only Toyota should be displayed.. nothing else

In [96]:
updated_cars=[]
for i in cars:
    if(i.split()[0]=="Mercedes"):
        updated_cars.append(" ".join(i.split()[2:4]))
    elif(i.split()[0]=="Toyota"):
        updated_cars.append("Toyota")
    else:
        updated_cars.append(" ".join(i.split()[0:2]))
updated_cars

['Maruti Suzuki',
 'Toyota',
 'Maruti Suzuki',
 'Tata Punch',
 'S Class',
 'E Class',
 'G Class',
 'Toyota']

In [97]:
updated_cars=[]
for i in cars:
    if("Mercedes" in i):
        updated_cars.append(" ".join(i.split()[2:4]))
    elif("Toyota" in i):
        updated_cars.append("Toyota")
    else:
        updated_cars.append(" ".join(i.split()[0:2]))
updated_cars

['Maruti Suzuki',
 'Toyota',
 'Maruti Suzuki',
 'Tata Punch',
 'S Class',
 'E Class',
 'G Class',
 'Toyota']

In [104]:
laptop_brands_and_models = [
    "Apple MacBook Pro with M1",
    "Apple MacBook Air with M1",
    "Dell XPS 15 9500 Touch",
    "Dell Inspiron 14 5406 2-in-1",
    "HP Spectre x360 14 Convertible",
    "HP Envy x360 15.6-inch",
    "Lenovo ThinkPad X1 Carbon Gen 9",
    "Lenovo IdeaPad Flex 5 14",
    "Microsoft Surface Laptop 4 15",
    "Acer Predator Helios 300 15.6",
    "Asus ROG Zephyrus G14 Gaming Laptop",
    "Asus ZenBook 13 OLED UX325",
    "Razer Blade 15 Advanced Model",
    "Samsung Galaxy Book Pro 360",
    "MSI GE76 Raider 17.3",
    "LG Gram 17 Lightweight Laptop",
    "Huawei MateBook X Pro 2021",
    "Alienware x17 R2 Gaming Laptop",
    "Acer Swift 3 Intel Core i7",
    "Dell Latitude 7420 2-in-1"
]

In [106]:
# if apple, it should say Apple Air or Apple Pro
# if Dell, only XPS or Inspiron or Precision or Vostro or Latitude should be listed
# if Microsoft, then 2nd and 3rd words
# Rest, only first 2 words

In [108]:
laptops=[]
for i in laptop_brands_and_models:
    if "Apple" in i:
        if "Air" in i:
            laptops.append("Apple Air")
        else:
            laptops.append("Apple Pro")
    elif "Microsoft" in i:
        laptops.append(" ".join(i.split()[1:3]))
    elif "Dell" in i:
        laptops.append(i.split()[1])
    else:
        laptops.append(" ".join(i.split()[0:2]))
laptops

['Apple Pro',
 'Apple Air',
 'XPS',
 'Inspiron',
 'HP Spectre',
 'HP Envy',
 'Lenovo ThinkPad',
 'Lenovo IdeaPad',
 'Surface Laptop',
 'Acer Predator',
 'Asus ROG',
 'Asus ZenBook',
 'Razer Blade',
 'Samsung Galaxy',
 'MSI GE76',
 'LG Gram',
 'Huawei MateBook',
 'Alienware x17',
 'Acer Swift',
 'Latitude']

In [109]:
# List Comprehension

In [110]:
cars

['Maruti Suzuki Swift',
 'Toyota Innova Crista',
 'Maruti Suzuki Wagon R',
 'Tata Punch EV Plus',
 'Mercedes Benz S Class',
 'Mercedes Benz E Class',
 'Mercedes Benz G Class',
 'Toyota Innova Deluxe']

In [111]:
updated_cars=[]
for i in cars:
    updated_cars.append(" ".join(i.split()[0:2]))
updated_cars

['Maruti Suzuki',
 'Toyota Innova',
 'Maruti Suzuki',
 'Tata Punch',
 'Mercedes Benz',
 'Mercedes Benz',
 'Mercedes Benz',
 'Toyota Innova']

In [113]:
fruits=['apple','banana','watermelon','cherry','mango','apricot','pineapple','kiwi']

In [114]:
# List of fruits from above which has a in them

In [116]:
newlist=[]
for i in fruits:
    if "a" in i:
        newlist.append(i)
newlist

['apple', 'banana', 'watermelon', 'mango', 'apricot', 'pineapple']

In [117]:
new=[i for i in fruits if "a" in i]
new

['apple', 'banana', 'watermelon', 'mango', 'apricot', 'pineapple']

In [118]:
new1=[i for i in fruits if i[0]!="a"]
new1

['banana', 'watermelon', 'cherry', 'mango', 'pineapple', 'kiwi']

In [119]:
fr=[]
for i in fruits:
    if i[0]!="a":
        fr.append(i)
fr

['banana', 'watermelon', 'cherry', 'mango', 'pineapple', 'kiwi']

In [120]:
names=['Darshan','Rahul','Sathish','Sagar','Sai','Kishore']
# names1=[0,1,0,1,1,0]

In [131]:
namesl=[]
for i in names:
    if len(i)<=5:
        namesl.append(1)
    else:
        namesl.append(0)

In [122]:
namesl

[0, 1, 0, 1, 1, 0]

In [141]:
names_lc=[1 if len(i)<=5 else 0 for i in names]
names_lc

[0, 1, 0, 1, 1, 0]

In [132]:
fr1=[]
for i in fruits:
    if "a" in i:
        fr1.append(1)
    else:
        fr1.append(0)
fr1

[1, 1, 1, 0, 1, 1, 1, 0]

In [136]:
fr2=[1 for i in fruits if "a" in i]
fr2

[1, 1, 1, 1, 1, 1]

In [140]:
fr3=[1 if "a" in i else 0 for i in fruits]
fr3

[1, 1, 1, 0, 1, 1, 1, 0]

In [142]:
cars

['Maruti Suzuki Swift',
 'Toyota Innova Crista',
 'Maruti Suzuki Wagon R',
 'Tata Punch EV Plus',
 'Mercedes Benz S Class',
 'Mercedes Benz E Class',
 'Mercedes Benz G Class',
 'Toyota Innova Deluxe']

In [143]:
updated_cars=[]
for i in cars:
    updated_cars.append(" ".join(i.split()[0:2]))
updated_cars

['Maruti Suzuki',
 'Toyota Innova',
 'Maruti Suzuki',
 'Tata Punch',
 'Mercedes Benz',
 'Mercedes Benz',
 'Mercedes Benz',
 'Toyota Innova']

In [144]:
cr=[" ".join(i.split()[0:2]) for i in cars]
cr

['Maruti Suzuki',
 'Toyota Innova',
 'Maruti Suzuki',
 'Tata Punch',
 'Mercedes Benz',
 'Mercedes Benz',
 'Mercedes Benz',
 'Toyota Innova']

In [145]:
updated_cars=[]
for i in cars:
    if("Mercedes" in i):
        updated_cars.append(" ".join(i.split()[2:4]))
    elif("Toyota" in i):
        updated_cars.append("Toyota")
    else:
        updated_cars.append(" ".join(i.split()[0:2]))
updated_cars

['Maruti Suzuki',
 'Toyota',
 'Maruti Suzuki',
 'Tata Punch',
 'S Class',
 'E Class',
 'G Class',
 'Toyota']

In [146]:
crs=["Toyota" if "Toyota" in i else " ".join(i.split()[2:4]) if "Mercedes" in i else " ".join(i.split()[0:2]) for i in cars]
# LIST=[Exp1 if cond1 else exp2 if cond2 else exp3 if cond3 else exp4 for i in org_list]
crs

['Maruti Suzuki',
 'Toyota',
 'Maruti Suzuki',
 'Tata Punch',
 'S Class',
 'E Class',
 'G Class',
 'Toyota']

In [147]:
nums=[2,4,6,8,10]

In [148]:
[i**2 for i in nums]

[4, 16, 36, 64, 100]

In [149]:
fruits

['apple',
 'banana',
 'watermelon',
 'cherry',
 'mango',
 'apricot',
 'pineapple',
 'kiwi']

In [150]:
[i.upper() for i in fruits]

['APPLE',
 'BANANA',
 'WATERMELON',
 'CHERRY',
 'MANGO',
 'APRICOT',
 'PINEAPPLE',
 'KIWI']

In [153]:
[i.upper()[0] for i in fruits]

['A', 'B', 'W', 'C', 'M', 'A', 'P', 'K']

In [154]:
# Dictionaries

In [155]:
# each element has a key and a value pair

In [170]:
d1={'a':4,'c':7,'d':3,'f':9}

In [171]:
type(d1)

dict

In [172]:
d1

{'a': 4, 'c': 7, 'd': 3, 'f': 9}

In [159]:
len(d1)

4

In [167]:
d2={'a':4,'c':7,'d':3,'c':9}

In [168]:
d2

{'a': 4, 'c': 9, 'd': 3}

In [169]:
len(d2)

3

In [173]:
d1.keys()

dict_keys(['a', 'c', 'd', 'f'])

In [174]:
d1.values()

dict_values([4, 7, 3, 9])

In [175]:
d1.items()

dict_items([('a', 4), ('c', 7), ('d', 3), ('f', 9)])

In [176]:
a5= [('a', 4), ('c', 7), ('d', 3), ('f', 9)]
a5

[('a', 4), ('c', 7), ('d', 3), ('f', 9)]

In [177]:
type(a5)

list

In [178]:
a5[0]

('a', 4)

In [179]:
type(a5[0])

tuple

In [180]:
a5[0][0]

'a'

In [181]:
cars={'brand':['Mercedes','BMW','Porsche','Audi'],
      'sales':[35,27,12,29],
      'rating':[0.7,0.75,0.79,0.65]}

In [182]:
cars

{'brand': ['Mercedes', 'BMW', 'Porsche', 'Audi'],
 'sales': [35, 27, 12, 29],
 'rating': [0.7, 0.75, 0.79, 0.65]}

In [183]:
type(cars)

dict

In [184]:
cars.keys()

dict_keys(['brand', 'sales', 'rating'])

In [185]:
cars.values()

dict_values([['Mercedes', 'BMW', 'Porsche', 'Audi'], [35, 27, 12, 29], [0.7, 0.75, 0.79, 0.65]])

In [189]:
cars['brand']

['Mercedes', 'BMW', 'Porsche', 'Audi']

In [190]:
cars.get('brand')

['Mercedes', 'BMW', 'Porsche', 'Audi']

In [194]:
# sklearn bunch

In [196]:
d1

{'a': 4, 'c': 7, 'd': 3, 'f': 9}

In [197]:
d1.pop('a')

4

In [198]:
d1

{'c': 7, 'd': 3, 'f': 9}

In [202]:
# Functions (always has a function call, parameters are passed)
# (1) Built-in Functions eg: print(), type(), len(), round(), input(), int(), str(), float(), etc.
# (2) Object Methods/Library methods: eg: str.lower(),list.append(), dict.get(), etc.
# (3) User defined functions 
# (4) Lambda functions

In [203]:
def add(x,y):
    sum=x+y
    print(sum)

In [206]:
add(5,6)
add(9,12)

11
21

In [207]:
print(5+6)
print(9+12)

11
21

In [209]:
def add1(x,y):
    sum=x+y
    print("The first number specified is:",x)
    print("The second number specified is:",y)
    print("The sum of 2 numbers is",sum)
    print()

In [212]:
add1(3,4)
add1(5,9)
add1(12,14)
add1(25,3)

The first number specified is: 3
The second number specified is: 4
The sum of 2 numbers is 7

The first number specified is: 5
The second number specified is: 9
The sum of 2 numbers is 14

The first number specified is: 12
The second number specified is: 14
The sum of 2 numbers is 26

The first number specified is: 25
The second number specified is: 3
The sum of 2 numbers is 28

In [213]:
def add2(x,y):
    sum=x+y
    return sum

In [214]:
a2=add2(3,4)
a3=add2(4,5)

In [215]:
a2*a3

63

In [216]:
add1(3,4)

The first number specified is: 3
The second number specified is: 4
The sum of 2 numbers is 7

In [218]:
add1(3,4,5)

TypeError: add1() takes 2 positional arguments but 3 were given

In [219]:
def add3(x,y=7):
    sum=x+y
    print("The first number specified is:",x)
    print("The second number specified is:",y)
    print("The sum of 2 numbers is",sum)
    print()

In [220]:
add3(3)

The first number specified is: 3
The second number specified is: 7
The sum of 2 numbers is 10

In [221]:
add3(3,5)

The first number specified is: 3
The second number specified is: 5
The sum of 2 numbers is 8

In [222]:
add3(y=8,x=7)

The first number specified is: 7
The second number specified is: 8
The sum of 2 numbers is 15

In [225]:
# Lambda Functions

In [226]:
def sq(x):
    return x*x

In [227]:
sq(4)

16

In [230]:
(lambda x:x*x)(5)

25

In [233]:
sqr=lambda x:x*x

In [234]:
sqr(4)

16

In [235]:
(lambda x,y:x+y)(3,5)

8

In [241]:
(lambda x:1 if x[0]=="A" else 0)("Bananas")

0

In [243]:
revenue_amount="Rs. 35000"
costing=12000

In [248]:
(lambda a:int(a.replace("Rs. ","")))(revenue_amount)

35000

In [246]:
profit=revenue_amount-costing

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [255]:
(lambda a:round(a**(1/3),2))(9)

2.08

In [256]:
(lambda a:a**3)(7)

343

In [257]:
(lambda a:a**3)([1,5,7,9])

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [258]:
# Map

In [260]:
list(map(lambda a:a**3,[1,5,7,9]))

[1, 125, 343, 729]

In [262]:
# Libraries/ modules

In [267]:
# 1.Built-in Library/Standard eg: time, math, etc.
# 2.External Library:
    # a. Libraries packaged with the editor
    # b. Libraries not packaged with the editor

In [264]:
# Installed on the system
# Imported on the file

In [266]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\ameer\appdata\local\programs\python\python310\lib\site-packages (1.26.4)

[notice] A new release of pip is available: 23.0.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [270]:
import math

In [273]:
print(math.factorial(3))
print(math.factorial(5))

6
120

In [276]:
m=2.3
m

2.3

In [277]:
math.ceil(m)

3

In [278]:
math.floor(m)

2

In [279]:
round(m)

2

In [280]:
import math
print(math.factorial(5))
print(math.ceil(2.3))

120
3

In [284]:
import math as mt
print(mt.factorial(5))
print(mt.ceil(2.3))

120
3

In [289]:
from math import ceil,factorial
ceil(2.34)
factorial(5)

120

In [2]:
from math import ceil as cl,factorial as fctl
print(cl(2.34))
print(fctl(5))
cl(2.3)

3
120

3

In [291]:
from math import *
ceil(2.34)
factorial(5)
floor(2.56)

2

In [4]:
import math

In [5]:
import time

In [6]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [8]:
for i in range(11):
    print(i)
    time.sleep(0.5)

0
1
2
3
4
5
6
7
8
9
10

In [10]:
# Topics Covered
# ______Day 1________
# print() function and its arguments(sep and end)
# comments
# variables / naming conventions
# datatypes
# typecasting
# operators
# formatting/combining multiple print statements/string concatenation
# input() function
# conditional statements(if, if else, if elif else, nested ifs)
# strings
# string methods
# Loops
# while loops
# for loops
# iterating for loops on the lists
# _______Day2______
# nested loops
# collection datatypes
# Tuples
# Lists
# List Methods
# List Comprehensions
# Dictionaries
# Functions
# User defined functions
# Lambda functions
# Libraries/Modules
# Installation of libraries/Modules
# Different ways of importing the libraries
# Math library